<!DOCTYPE html>
<html>
    <html lang="en">
	<!--begin::Head-->
    <head>
            <title>Krismar</title>
            <meta name="description" content="Krismar" />
            <meta name="keywords" content="Keywords" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta charset="utf-8" />		
            <meta property="og:locale" content="en_US" />
            <meta property="og:type" content="article" />
            <!-- <meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
            <meta property="og:url" content="https://keenthemes.com/metronic" />
            <meta property="og:site_name" content="Keenthemes | Metronic" /> -->
            <link rel="canonical" href="Https://preview.keenthemes.com/metronic8" />
            <link rel="shortcut icon" href="/bundles/assets/media/logos/favicon.ico" />
            <!--begin::Fonts-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
            <!--end::Fonts-->
            <!--begin::Global Stylesheets Bundle(used by all pages)-->
            <link href="/bundles/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
            <link href="/bundles/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
            <!--end::Global Stylesheets Bundle-->
    </head>
    <body class="pimcore_version_10 {{ config['branding']['login_screen_invert_colors'] ? 'inverted' : '' }} bg-body" id="kt_body" >
        <!--begin::Main-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Authentication - Sign-up -->
            <div class="d-flex flex-column flex-lg-row flex-column-fluid">
                    <!--begin::Aside-->
                    <div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: #F2C98A">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                                    <!--begin::Content-->
                                    <div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
                                            <!--begin::Logo-->
                                            <a href="../../demo1/dist/index.html" class="py-9 mb-5">
                                                    <img alt="Logo" src="/bundles/assets/media/logos/krishmar.png" class="h-60px" />
                                            </a>
                                            <!--end::Logo-->
                                            <!--begin::Title-->
                                            <h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #986923;">
                                                    KRISMAR <br/> 
                                                    DIGITAL <br /> 
                                                    PORTAL</h1>
                                            <!--end::Title-->
                                    </div>
                                    <!--end::Content-->
                                    <!--begin::Illustration-->
                                    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(assets/media/logos/contel.png"></div>
                                    <!--end::Illustration-->
                            </div>
                            <!--end::Wrapper-->
                    </div>
                    <!--end::Aside-->
                    <div id="content">
                        {{ block('content') }}
                    </div>
            </div>
            <!--end::Authentication - Sign-up-->
        </div>
        <!--end::Main-->
        <!--begin::Javascript-->
        <!--begin::Global Javascript Bundle(used by all pages)-->
        <script src="/bundles/assets/plugins/global/plugins.bundle.js"></script>
        <script src="/bundles/assets/js/scripts.bundle.js"></script>
        <!--end::Global Javascript Bundle-->
        <!--begin::Page Custom Javascript(used by this page)-->
        <script src="/bundles/assets/js/custom/authentication/sign-up/general.js"></script>
        <!--end::Page Custom Javascript-->
        <!--end::Javascript-->
    </body>
</html>
